.iconContainer {
  position: absolute;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  place-content: center;
  text-align: center;
  width: 80px;
  height: 90px;
  cursor: grab;
  user-select: none;
  border: 1px solid transparent;
  overflow: hidden;
}

.iconContainer:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

.iconContainer.selected {
  border-color: #0078d4;
  background-color: rgba(0, 120, 212, 0.1);
}

.iconContainer img {
  width: 48px;
  height: 48px;
  margin-bottom: 5px; /* Space between icon and name */
  user-select: none;
  -webkit-user-drag: none;
}

.iconContainer > div {
  text-align: center;
  user-select: none;
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 12px;
  word-break: break-word;
}
