.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid black;
  padding: 16px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.project:hover {
    box-shadow: rgba(46, 182, 240, 0.4) -5px 5px, rgba(46, 201, 240, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    transform: scale(1.01);
}

.image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 12px;
}

.projectTitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
}

.tech {
  padding: 4px 12px;
  user-select: none;
  background-color: rgb(155, 243, 233);
  border-radius: 12px;
  transition-duration: 100ms;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tech:hover {
  background-color: rgb(250, 154, 250);
}

