.taskbarContainer {
  background-color: rgba(51, 236, 220, 0.289);
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 0px 8px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 2px;
  user-select: none;
}
