.taskbarContainer {
    background-color: rgba(66, 54, 54, 0.917);
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 8px 8px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 8px;
}