.window {
    border-radius: 8px;
    border: 2px solid purple;
    background-color: #ffffff;
    user-select: none;
    position: absolute;
}

.windowHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid purple;
    border-radius: 8px 8px 0 0;
    background-color: rgb(42, 211, 245);
}

.windowName {
    flex-grow: 2;
    height: 34px;
}

.windowName div {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 6px;
    height: 100%;
}

.windowIcons {
    display: flex;
    justify-content: end;
    padding: 4px;
    gap: 2px;
}

.windowIcons button {
    appearance: none;
    padding: 4px;
    margin: 0;
    border: 2px solid purple;
    border-radius: 4px;
    display: flex;
}

.windowIcons img {
    width: 16px;
    height: 16px;
}

.windowIcons .closeButton:hover {
    background-color: rgb(255, 0, 0);
}

.windowIcons button:hover {
    cursor: pointer;
    background-color: rgb(210, 24, 210);
    transition: 50ms ease-in-out;
}

.minimized {
    display: none;
}