.window {
    border: 2px solid rgb(174, 19, 164);
    background-color: #ffffff;
    user-select: none;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.windowHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgb(174, 19, 164);
    background: linear-gradient(to right, rgb(236, 87, 236), cyan);
}

.windowName {
    flex-grow: 2;
    height: 34px;
}

.windowName div {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 6px;
    height: 100%;
}

.windowIcons {
    display: flex;
    justify-content: end;
    padding: 4px;
    gap: 2px;
}

.windowIcons button {
    appearance: none;
    padding: 4px;
    margin: 0;
    border: 2px solid purple;
    border-radius: 4px;
    display: flex;
}

.windowIcons img {
    width: 16px;
    height: 16px;
}

.windowIcons button:last-of-type:hover{
    background-color: rgb(239, 93, 93);
}

.windowIcons button:hover {
    cursor: pointer;
    background-color: rgb(235, 91, 235);
    transition: 100ms ease-in-out;
}

.minimized {
    display: none;
}