.startMenuBackground {
  z-index: 99999998;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.startMenu {
  position: fixed;
  bottom: 62px;
  z-index: 99999999;
  background-color: rgba(69, 69, 69, 0.942);
  width: 500px;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
}

.raccoonOsTitle {
  font-family: monospace;
}

.shutdownSection {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: 10px 0 0 0;
}

.shutdownButton {
  cursor: pointer;
  padding: 6px;
  border-radius: 4px;
}

.shutdownButton:hover {
  background-color: rgba(0, 0, 0, 0.314);
}

.shutdownButton:active {
  background-color: rgba(0, 0, 0, 0.514);
}
