.background {
    position: fixed;
    background-image: url("/raccoon-bg.webp");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}